<div class="column is-one-third">
<div class="card product">
  <div class="card-content">
    <p class="title is-4">
        <% if name_is_link %>
          <%= link_to product.title, products_show_path %>
        <% else %>
          <%= product.title %>
        <% end %>
    </p>
    <ul>
      <li>
        <strong>description:</strong> <%= product.description%>
      </li>
      <li>
        <strong>price:</strong> <%= product.price %>
      </li>
    </ul>
    </div>
  </div>
</div>